<!DOCTYPE html>
<html>
  <head>
    <title>My Flask App</title>
  </head>
  <body>
    <h1>Check inclusion of token</h1>
    <div style="border: 2px solid red; margin-top: 2px">
      <form action="/retrieve" method="post">
        <label for="token">Token:</label>
        <input type="text" name="token" />
        <label for="url">IPFS CID of Merkle Tree:</label>
        <input type="text" name="url" />
        <br />
        <br />
        <input type="submit" value="Get Proof of Inclusion" />
      </form>
    </div>
  </body>
</html>
